export const config = {
  email: 'example@invalid.tld',
  master: {
    mcid: 'ruka64',
    discorduId: '',
  },
  mc: {
    shoultInit: true,
    whitelist: ['ruka64'],
  },
  discord: {
    token: '',
    guild: '',
    channel: '',
    whitelistedIds: [''],
  },
};
